<% include ../partials/header %>

<div class="container">
  <h1 class="text-center">User Profile</h1>
  <h4><strong>My Order</strong></h4>
  <%for(item of items){%>
    <%for(eachItem of item){%>
      <div class="row">
        <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%=eachItem.item.title%></h3>
    </div>
    <div class="panel-body">
      <div class="pull-right">
        <%=eachItem.price*eachItem.qty%>
      </div>
      <%=eachItem.qty%>
    </div>
  </div>

      </div>
      <%}%>
      <hr>
    <%}%>
</div>



<% include ../partials/footer %>
